
@{
    ViewBag.Title = "login";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <h2>Login</h2>
        @Html.ActionLink("Login with Facebook.", "Facebook", "Account")
    </div>
</body>
</html>

